* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 400px;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  background-image: url("/assets/backAuthground.jpg");
}
.centralize {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
}

nav {
  display: flex;
  width: 1000px;
  height: 50%;
  justify-content: center;
}
ul {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding-top: 20px;
}
li {
  padding: 20px;
  list-style: none;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
  font-family: "Josefin Sans";
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  color: #000;
  opacity: 0.5;
}
.downblock {
  display: flex;
  width: 1000px;
  height: 50%;
}
.descheader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.descheader {
  height: 150px;
  width: 300px;
  font-family: "Josefin Sans";
  border: 5px solid #fff;
  font-size: 58px;
  font-weight: 300;
  padding: 10px;
}

main {
  width: 100vw;
  height: 800px;
  overflow-x: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 700px;
}

.left-side,
.right-side {
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 25px;
  padding: 5px 10px;
  height: 100px;
}

.search-input {
  border: 1px solid #000;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 25px;
  flex-grow: 1;
  background-color: #000;
  color: #fff;
  background-color: #333;
  opacity: 0.3;
}

.search-button {
  background-color: #ccc;
  color: white;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #333;
  opacity: 0.3;
}
.bi .bi-search {
  color: #333;
}

.bi .bi-search:hover {
  color: #ccc;
}
